@using  TravelToLearn.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<body> 
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot">Kolay Bir Seyahat Planla</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/32436-wine-glass-icon.png" style="width:68px;height:68px;" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Restoranlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/museum.png" style="width:68px;height:68px;" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Müzeler</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/Users-icon.png" style="width:68px;height:68px;" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Gezi Önerileri</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/tickets-icon.png" style="width:68px;height:68px;" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Rezervasyon ve Satış</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:650px;height:365px;">
                            <ul class="rslides" id="slider1">
                                @foreach (var x in Model) {
                                <li><img src="@x.BlogImage" alt=""></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>TravelToLearn'e Hoşgeldiniz!!</h3>
                    <p>Bu sitede seyahat etmek istediğiniz yerler hakkında çokca bilgi edinebilecek ve kendi 
                    seyahat planlarınızı kolayca oluşturabileceksiniz. Ayrıca gitmek istediğiniz şehirlere
                    ait uçuş ve rezervasyon işlemlerini "Bilet ve Rezervasyon" sekmesinden yapabilirsiniz.</p>
                </div>
                @Html.Action("Partial1","Default")
                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial2","Default")
                        @Html.Action("Partial3", "Default")
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


